<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Todo List</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ">
                <li class="active"><a class="nav-link" href="/">Home</a></li>
                <li><a href="/todo/create">Add Todo</a></li>
            </ul>
        </div><!-- nav collapse-->
     </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-">
                {%  for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">{{flash_message}}</div>
                {% endfor %}

                {%  for flash_message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">{{flash_message}}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>   
        </div>

    </div><!-- /.container -->
         {% block javascripts %}{% endblock %}
    
  </body>
</html>
