{% extends 'base.html.twig' %}

{% block body %}
	<a class="btn btn-default" href="/">Back Todos List</a>
	<hr>
	<h2 class="page-header">{{todo.name}}</h2>
	<ul class="list-group">
		<li class="list-group-item">Category: {{todo.category}}</li>
		<li class="list-group-item">Priority: {{todo.priority}}</li>
		<li class="list-group-item">Due: <strong>{{todo.dueDate|date('F j, Y, g:i a')}}</strong></li>
	</ul>
	<p>
		{{todo.description}}
	</p>
{% endblock %}